In [1]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

In [2]:
df = pd.read_csv('./dataset/Produtos.csv', delimiter=";", encoding='latin-1')

In [3]:
df.columns = ['Produtos', 'Preços']
df['Preços'] = df['Preços'].str.replace(',', '.').astype(float)

In [4]:
df

             Produtos  Preços
0        Achocolatado    4.59
1               Arroz   13.29
2              Açúcar    3.95
3            Biscoito    5.25
4                Café    6.99
5   Extrato de tomate    4.99
6    Farinha de trigo    3.89
7              Feijão    7.99
8               Leite    3.65
9            Macarrão    3.79
10          Margarina    4.79
11               Óleo    4.85
12    Papel higiênico    4.49
13                Sal    3.99
14           Sardinha    3.49

In [5]:
currency = [0.01, 0.05, 0.10, 0.25, 0.50, 1.00, 2.00, 5.00, 10.00, 20.00, 50.00, 100.00, 200.00]

In [6]:
def findMin(change):

    n = len(currency)
    result = []
    i = n - 1
    change = round(change, 2)

    while i >= 0:
        while change >= currency[i]:
            change -= currency[i]
            result.append(currency[i])

        i -= 1

    for i in range(len(result)):
        print(result[i], end = " ")

In [7]:
total = []
for i in df['Preços'].values:
    total.append(i)

total = list(dict.fromkeys(total))

t = round(sum(total),2)

t

79.99

In [8]:
findMin(79.99)

50.0 20.0 5.0 2.0 2.0 0.5 0.25 0.1 0.1 0.01 0.01 0.01

In [9]:
#a = widgets.FloatText(description = f"{df.iloc[0,0]} (R$ {df.iloc[0,1]}): ")
#display(a)